<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>

<body>
	<h1>Edit book</h1>
	<div>
		<form th:object="${book}" th:action="@{save}" action="#" method="post">
		<input type="hidden" th:field="*{id}" />
		  	<label for="bookTitle">Title</label>
			<input type="text" id="bookTitle" th:field="*{bookTitle}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="bookAuthor">Author</label>
			<input type="text" id="bookAuthor" th:field="*{bookAuthor}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="bookYear">Year</label>
			<input type="text" id="bookYear" th:field="*{bookYear}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="bookIsbn">Isbn</label>
			<input type="text" id="bookIsbn" th:field="*{bookIsbn}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="bookPrice">Price</label>
			<input type="text" id="bookPrice" th:field="*{bookPrice}" />

		
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save" class="btn btn-success"></input>
		</form>
	</div>
</body>
</html>